@charset "UTF-8";

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Ajuste del background de la pagina*/
body {
  background-image: url(../assets/imagenes/fondo.jpg);
  margin: 0;
  background-size: 1720px;
}

/*Customizacion del encabezado de pagina*/
/*Clase de linkeos de las pages*/
.nav-link {
  text-decoration: none;
  color: rgb(236, 240, 10) !important;
  margin-right: 10px;
}

/*Clase  para personalizar el diseño del encabezado*/
header {
  display: flex;
  min-height: 70px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-style: inset;
  border-width: 10px;
  border-color: #f4dc03;
}

/*Clase  para personalizar el diseño del logo*/
.logo {
  display: flex;
  align-items: center;
}

/*Clase  para ajustar el diseño del logo*/
.logo img {
  height: 90px;
  margin-right: 10px t;
}

nav a {
  font-weight: 600px;
  padding-right: 10px;
}

nav a:hover {
  color: aliceblue !important;
}

nav {
  display: flex;
}

/*Customizacion de la "page" "index"*/
/*Titulo "EMPANADAS FONSECA"*/
.custom-title-neon h1 {
  color: #fff;
  text-shadow: 0 0 5px #c7b406, 0 0 25px #f4f003, 0 0 50px #f4dc03, 0 0 100px #f4d003;
  letter-spacing: 5px;
  cursor: auto;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 50px;
  font-size: 100px;
}

/*Caja del tenxto de bienvenida*/
.texto1 {
  display: flex;
  padding: 50px;
  margin: 50px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-width: 15px;
  border-color: rgb(251, 255, 0);
  width: 60%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 120px;
}

.texto-bienvenida {
  font-size: 35px;
}

/*Customizacion de la "pages" "nuestras-empanadas"*/
menu {
  padding: 0;
  margin: 0;
}

/*Titulo "NUESTRAS EMPANADAS"*/
.Nuestras-empanadas {
  font-size: 80px;
  font-weight: 10px;
  color: #fff;
  text-shadow: 0 0 5px #f8f403, 0 0 25px #f4d003, 0 0 50px #f4dc03, 0 0 100px #f4d003;
  letter-spacing: 5px;
  cursor: auto;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 480px;
}

/*Caja y texto de introduccion para el menú*/
.Parrafo1 {
  background-color: rgba(0, 0, 0, 0.644);
  background-size: cover;
  color: rgb(250, 250, 250);
  text-align: center;
  background-repeat: no-repeat;
  border-radius: 120px;
  display: flex;
  flex-flow: column;
  border-width: 15px;
  font-size: 20px;
}

/* Customización del titulo "Menú"*/
.Menu1 {
  font-size: 70px;
  color: #fff;
  text-shadow: 0 0 5px #f4dc03, 0 0 25px #f4d003, 0 0 50px #f4dc03, 0 0 100px #f4d003;
  letter-spacing: 5px;
  cursor: auto;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-left: 550px;
}

.menu-empanadas {
  background-color: rgba(0, 0, 0, 0.747);
  background-size: cover;
  color: aliceblue;
  text-align: center;
  background-repeat: no-repeat;
  border-radius: 120px;
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
}

.menu-empanadas p {
  font-size: 30px;
}

.columna-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  font-size: 20px;
}

.precio-menu {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 40px;
  color: #f4f003;
}

/*Customizacion de la "pages" "hace-tus-pedidos"*/
.titulo-selector {
  text-align: center;
  color: #fcfbf8;
}

.selector-de-empandas {
  background-color: rgba(0, 0, 0, 0.5058823529);
}

.empanada-list {
  display: flex;
  flex-wrap: wrap;
}

.titulo-selector1 {
  color: #eeeaea;
  font-size: 15px;
}

.titulo-selector4 {
  color: #eeeaea;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 500px;
  margin-right: 30px;
}

.titulo-selector5 {
  color: #eeeaea;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 500px;
  margin-right: 30px;
}

.titulo-selector6 {
  color: #eeeaea;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 500px;
  margin-right: 30px;
}

.empanada-card {
  width: 190px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.empanada-card .img-selector {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.empanada-card .titulo-selector1 {
  margin-top: 10px;
}

.empanada-card button {
  background-color: #fbff03;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.cart {
  margin-top: 20px;
  text-align: center;
  color: #eeeaea;
  margin-top: 40px;
}

.cart .titulo-selector3 {
  margin-bottom: 10px;
}

.cart-items ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 10px;

}

.cart-items {
  list-style: none;
}

.Arriba li {
  margin-top: 20px;
  list-style: none;
  background-color: #000000;
  border-radius: 10px;
  padding: 5px 10px;

}

.Arriba {
  margin-top: 100px;

}

.Arriba a {
  text-decoration: none;
  color: #ffe600;
}

.Carrito {
  text-decoration: none;
  background-color: #ffee00;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 600px;
}
.Carrito1 {
  text-decoration: none;
  background-color: #ffee00;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 600px;
}



/*Customizacion de la "pages" "un-poco-de-contexto"*/
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5215686275);
  border-radius: 10%;
}

.contexto {
  text-align: center;
  color: #eeeaea;
}

.contexto-texto p {
  text-align: center;
  color: #f8f8f8;
  line-height: 1.5;
  font-size: 25px;
}

/*Customizacion de la "pages" "danos-tu-opinion"*/
.comentario-1 {
  margin: 20px;
  margin-left: 40px;
}

.form_comentarios textarea {
  width: 100%;
  height: 84px;
  max-width: 100%;
  min-width: 100%;
  min-height: 84px;
  max-height: 300px;
  padding: 10px;
  line-height: 30px;
  border: 1px solid #4b65d1;
  margin-bottom: 20px;
}

.form_comentarios textarea .form_comentarios .btn {
  background: #4b65d1;
  color: #fff;
  margin-bottom: 20px;
}

.form_comentarios textarea .form_comentarios .btn:hover {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.35);
}

.form_comentarios textarea .form_comentarios {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.media {
  border-top: 1px solid #bfbfbf;
  padding-top: 20px;
  background-color: rgba(247, 247, 247, 0.5960784314);
}

.media img {
  margin-right: 20px;
}

.media .nombre span {
  font-size: 12px;
  color: #464646;
  margin-left: 10px;
}

.media .nombre {
  color: #4b65d1;
  margin-bottom: 0;
}

.media .ComentarioJM {
  margin-top: 10px;
}

.media .botones {
  margin-bottom: 10px;
}

.media .botones a {
  color: #210af5;
  font-size: 14px;
  margin-left: 20px;
}

.btn {
  background-color: #0a1af5;
  margin-left: 567px;
}

/*Footer/Redes*/
footer {
  color: #fff;
}

footer footer ul {
  padding: 0%;
}

footer footer li {
  list-style: none;
}

.wrap-footer {
  display: grid;
  grid-template-columns: 30% 15% 15% 20%;
  column-gap: 5%;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 1200px;
}

.footer1 h5 {
  margin: 1rem;
}

.Telemento-footerE li {
  line-height: 2;
  list-style: none;
}

.Telemento-footerE li .Telemento-footerE li a {
  color: yellow;
}

.Telemento-footerERedes li svg {
  margin-top: 5px;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  color: rgb(219, 171, 13);
}

.Telemento-footerERedes ul {
  list-style: none;
}

.avisos-legales ul {
  list-style: none;
}

.Redesh5 {
  margin-bottom: 10px;
}

/*Apartado para adaptar la pagina a ciertos dispositivos*/
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .wrap-footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .columna-1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .custom-title-neon h1 {
    padding: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 66px;
  }

  .texto1 {
    padding: 0 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    width: 90%;
  }

  .texto-bienvenida {
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 60px;
  }

  .Nuestras-empanadas {
    padding: 10px 0;
    margin-left: 100px;
    margin-right: 10px;
    font-size: 80px;
  }

  .Menu1 {
    padding: 10px;
    margin-left: 240px;
    font-size: 80px;
  }

  .menu-empanadas {
    width: 88%;
    margin-left: 20px;
  }

  .Parrafo1 {
    width: 80%;
    margin-left: 70px;
    margin-right: 40px;
  }

  .texto-nuestras-empandas {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .precio-menu {
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
  }

  .comentario-1 .col-6 {
    width: 100%;
  }

  .contenedor-1 {
    width: 100%;
  }

  .titulo-selector {
    margin-top: 30px;
    font-size: 20px;
  }
  

  .titulo-selector4 {
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 300px;
  }

  .titulo-selector5 {
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 230px;
  }

  .titulo-selector6 {
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 280px;
  }

  .empanada-card {
    width: 100%;
  }

  .empanada-list {
    width: 95%;
  }

  .Carrito {
    width: 90%;
  }
  .Carrito1 {
    width: 90%;
  }
  .btn{
    margin-left: 600px;
  }
}
  



@media (max-width: 480px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .wrap-footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .columna-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .custom-title-neon h1 {
    padding: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 46px;
  }

  .texto1 {
    padding: 0 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    width: 90%;
  }

  .texto-bienvenida {
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 60px;
  }

  .Nuestras-empanadas {
    padding: 10px 0;
    margin-left: 70px;
    margin-right: 10px;
    font-size: 40px;
  }

  .Menu1 {
    padding: 10px;
    margin-left: 130px;
    font-size: 50px;
  }

  .menu-empanadas {
    width: 80%;
    margin-left: 20px;
  }

  .Parrafo1 {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .texto-nuestras-empandas {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .titulo-selector {
    margin-top: 30px;
    font-size: 30px;
  }

  .titulo-selector4 {
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 160px;
  }

  .titulo-selector5 {
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 90px;
  }

  .titulo-selector6 {
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 130px;
  }

  .empanada-card {
    width: 100%;
  }

  .empanada-list {
    width: 100%;
  }
  .Carrito1 {
    width: 60%;
  }
  .Carrito {
    width: 95%;
  }
  .btn{
    margin-left: 310px;
  }
}

@media (max-width: 320px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .wrap-footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .columna-1 {
    grid-template-columns: repeat(0, 1fr);
  }

  .menu-empanadas {
    width: 80%;
    margin-left: 20px;
  }

  .custom-title-neon h1 {
    padding: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
  }

  .texto1 {
    padding: 0 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    width: 80%;
  }

  .texto-bienvenida {
    margin-left: 40px;
    margin-right: 35px;
    margin-bottom: 20px;
  }

  .Nuestras-empanadas {
    padding: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
  }

  .Menu1 {
    padding: 10px;
    margin-left: 50px;
    font-size: 50px;
  }

  .Parrafo1 {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .texto-nuestras-empandas {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .main-a {
    font-size: 15px;
  }

  .titulo-selector {
    margin-top: 30px;
    font-size: 30px;
  }

  .titulo-selector4 {
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 90px;
  }

  .titulo-selector5 {
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 90px;
  }

  .titulo-selector6 {
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 60px;
  }

  .empanada-card {
    width: 100%;
  }

  .empanada-list {
    width: 100%;
  }
  .Carrito1 {
    width: 35%;
  }
  .Carrito {
    width: 85%;
  }
  .btn{
    margin-left: 150px;
  }
}

/*# sourceMappingURL=estilos.css.map */